@import "@/styles/variables/all.scss";

.partners {
  padding: 45px 0 25px;
  @media (min-width: $md) {
    padding: 0;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  @media (min-width: $md) {
    padding: 0 80px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.title {
  white-space: nowrap;
  font-weight: bold;
  font-size: $font-size-l;
  line-height: 120%;
  text-transform: uppercase;
  color: $black-color;
  @media (min-width: $sm) {
    text-align: center;
  }
  @media (min-width: $md) {
    text-align: left;
    line-height: 108%;
    font-size: $font-size-xl;
  }
}

.descriptionGroup {
  max-width: 544px;
  @media (min-width: $sm) {
    text-align: center;
    margin: 0 auto;
  }
  @media (min-width: $md) {
    text-align: left;
    margin: 0;
    margin-left: 30px;
  }
}

.description {
  font-size: $font-size-md;
  line-height: 150%;
  color: $grey-color;
  margin-top: 26px;
  margin-bottom: 33px;
  @media (min-width: $md) {
    margin-top: 0;
    margin-bottom: 34px;
  }
}

.listWrapper {
  width: 100%;
  @media (max-width: $md) {
    padding-top: 52px;
  }
}
.imageList {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: center;
  @media (min-width: $md) {
    margin-top: 48px;
  }
}
.imageWrapper {
  padding-left: 16px;
  width: 224px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: $md) {
    height: 110px;
    margin-bottom: 40px;
    @media (min-width: 820px) {
      padding-left: 0;
    }
  }
}
.image {
  height: 60px;
  width: 120px;

  @media (min-width: $md) {
    transition: 0.3s;
    filter: grayscale(100%);
    opacity: 0.3;
    &:hover {
      transition: 0.3s;
      filter: sepia(0%);
      opacity: 1;
    }
  }
}
