@import "@/styles/variables/all.scss";

.item {
    display: flex;
    flex-direction: column;
    color: $black-color;
    text-align: left;
    margin-bottom: 72px;
    margin-right: 8px;

    @media (min-width: $md) {
        padding: 15px 15px 0 65px;
        margin-bottom: 34px;
        &:last-child {
            margin-bottom: 12px;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.titleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    max-width: 76%;
    font-weight: bold;
    font-size: $font-size-sm;
    line-height: 108%;
    text-transform: uppercase;
    cursor: pointer;
    @media (min-width: $md) {
        font-size: $font-size-md;
        line-height: 150%;
    }
}

.button {
    position: relative;
    width: 16px;
    min-width: 16px;
    height: 16px;
    transition: 0.3s;
    cursor: pointer;

    span {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        border: 1px solid $black-color;
        transition: 0.3s;
    }
    :first-child {
        transform: rotate(90deg);
    }

    @media (min-width: $md) {
        margin-top: 3px;
    }
}

.active {
    :first-child {
        transform: rotate(0);
    }
    :last-child {
        opacity: 0;
    }
}

.descriptionGroup {
    max-height: 0;
    font-size: $font-size-sm;
    line-height: 150%;
    transition: 0.4s ease-out;
    overflow-y: hidden;
    color: $grey-color;
    @media (min-width: $md) {
        max-width: 500px;
    }
}

.itemList {
    list-style: inside;
}

.description {
    padding-top: 24px;
}

.open {
    padding-top: 25px;
    max-height: 700px;
}

.descriptionItem {
    padding-left: 15px;
    padding-bottom: 10px;
}
