$white-color: #fff;
$white-milk-color: #d6d6d6;
$white-dim-color: #f5f5f5;
$light-gray-color: #eeeeee;
$yellow-color: #f4aa16;
$yellow-hover-color: #dc9914;
$yellow-active-color: #c48912;
$black-color: #323232;
$black-hover-color: #2d2d2d;
$black-active-color: #141414;
$grey-color: #707070;
$red-color: #df635a;
$green-color: #00807f;
$brown-color: #785d6b;
