$font-inter: "Inter", sans-serif;
$font-size-es: 8px;
$font-size-s: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-size-l: 32px;
$font-size-xl: 48px;
$font-size-xxl: 56px;
