@import "@/styles/variables/all.scss";
.buttonStyles {
  position: relative;
  display: block;
  width: 100%;
  max-width: 288px;
  height: 40px;
  padding: 10px 16px 10px;
  margin: 0 auto;
  font-weight: 600;
  font-size: $font-size-sm;
  line-height: 150%;
  text-transform: uppercase;
  color: $white-color;
  border: none;
  transition: 0.2s;
  cursor: pointer;

  & > div {
    left: 50% !important;
    top: 50% !important;
    width: 32px !important;
    transform: translate(-50%, -50%);
    height: 32px;
  }

  @media (min-width: $md) {
    margin: 0;
    width: auto;
  }
}

.yellow {
  @media (max-width: $md) {
    height: 56px;
  }
  background: $yellow-color;
  &:hover {
    background: $yellow-hover-color;
  }
  &:active {
    background: $yellow-active-color;
  }
}

.black {
  background: $black-color;
  &:hover {
    background: $black-hover-color;
  }
  &:active {
    background: $black-active-color;
  }
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
