@import "@/styles/variables/all.scss";

.left {
    display: none;

    @media (min-width: $md) {
        display: block;
        position: absolute;
        left: 63px;
        top: 117px;
        width: 40px;
        height: 40px;

        :nth-child(1) {
            top: 0;
            left: 0;
        }
    }
}

.right {
    display: none;

    @media (min-width: $md) {
        display: block;
        position: absolute;
        right: 0;
        top: 227px;
        width: 80px;
        height: 80px;
        :nth-child(1) {
            top: 0;
            left: 0;
        }
        :nth-child(2) {
            top: 40px;
            right: 0;
        }
    }
}
