@import "@/styles/variables/all.scss";

.left {
    display: none;

    @media (min-width: $md) {
        display: block;
        position: absolute;
        left: 0;
        top: -40px;
        width: 80px;
        height: 80px;

        :nth-child(1) {
            top: 0;
            left: 0;
        }
        :nth-child(2) {
            top: 40px;
            right: 0;
        }
    }
}

.right {
    position: absolute;
    right: 0;
    bottom: -20px;
    width: 60px;
    height: 40px;

    :nth-child(1) {
        bottom: 0;
        left: 0;
    }
    :nth-child(2) {
        bottom: 0;
        left: 20px;
    }
    :nth-child(3) {
        top: 0;
        right: 0;
    }

    @media (min-width: $md) {
        right: 56px;
        bottom: -40px;
        width: 120px;
        height: 80px;

        :nth-child(2) {
            bottom: 0;
            left: 40px;
        }
    }
}
.middle {
    display: none;

    @media (min-width: $md) {
        display: block;
        position: absolute;
        left: 487px;
        bottom: -40px;
        width: 80px;
        height: 80px;
        :nth-child(1) {
            bottom: 0;
            left: 0;
        }
        :nth-child(2) {
            top: 0;
            right: 0;
        }
    }
}
