@import "./variables/all.scss";
html,
* {
  font-family: $font-inter;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  transition: 0.3s;
}
section,
header,
footer {
  padding: 0 16px;
  @media (min-width: $md) {
    padding: 0 80px;
  }
  @media (min-width: 1600px) {
    padding-left: calc(50% - 720px) !important;
    padding-right: calc(50% - 720px) !important;
  }
}

header {
  position: relative;
  height: 56px;
  z-index: auto;
  background: $white-color;
  @media (min-width: $md) {
    height: 79px;
  }
}
