@import "@/styles/variables/all.scss";

.item {
    display: flex;
    align-items: center;
    margin-top: 16px;
    cursor: pointer;
}

.radioButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid $grey-color;
}

.active {
    &::before {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        background-color: $green-color;
    }
}

.category {
    margin-left: 20px;
    font-size: $font-size-md;
    line-height: 150%;
}
