@import "@/styles/variables/all.scss";

$step100: -100px;
$step150: -150px;
$step200: -200px;

.pathWays {
  padding-top: 98px;
  @media (min-width: $md) {
    padding: 155px 80px 0;
  }
}

.pathWaysTitle {
  font-weight: bold;
  font-size: $font-size-l;
  line-height: 120%;
  text-transform: uppercase;
  color: $black-color;
  @media (min-width: $sm) {
    text-align: center;
  }
  @media (min-width: $md) {
    text-align: left;
    margin-bottom: 80px;
    font-size: $font-size-xl;
    line-height: 108%;
  }
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  @media (min-width: $md) {
    flex-direction: column;
  }
}

.pathWaysList {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @media (min-width: $md) {
    flex-direction: row;
    justify-content: space-between;
  }
  @media (min-width: $lg) {
    margin: 0;
  }
}

.itemWrapper:nth-child(1) {
  color: $red-color;
}
.itemWrapper:nth-child(2) {
  color: $green-color;
}
.itemWrapper:nth-child(3) {
  color: $brown-color;
}

.itemWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 352px;
  padding: 0 5px;
  @media (max-width: $md) {
    padding: 0;
    margin-bottom: 50px;
  }
}

.itemTitle {
  font-weight: bold;
  font-size: $font-size-sm;
  line-height: 108%;
  text-transform: uppercase;
}

.itemSubTitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: $black-color;
  margin: 19px 0 20px;
  @media (min-width: $md) {
    margin: 24px 0 20px;
    font-size: $font-size-lg;
    line-height: 108%;
  }
}

.itemDescription {
  display: block;
  font-size: $font-size-md;
  line-height: 150%;
  color: $grey-color;
  margin-bottom: 20px;
  max-width: 280px;
  @media (min-width: $md) {
    margin-bottom: 32px;
  }
}

.imageWrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;

  height: 272px;
  margin: 27px 0 34px;
  margin-right: 15px;

  @media (min-width: 420px) {
    display: inline-block;
    height: 380px;
  }
  @media (min-width: 600px) {
    height: 480px;
  }

  @media (min-width: $md) {
    margin: 61px 0 0;
    height: 440px;
    padding-right: 0;
  }
  @media (min-width: 1440px) {
    height: 600px;
  }
}
.image {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;

  @media (min-width: 420px) {
    margin: 0 auto;
  }
  @media (min-width: $md) {
    margin: 0;
    width: 100%;
    height: auto;
    position: absolute;
  }
  @media (min-width: $lg) {
    bottom: $step150;
  }
}

.imageFrontWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.decorWrapper {
  position: absolute;
  right: 0;
  bottom: 100px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  transform: translate(20px);
  z-index: 1;

  .image {
    position: absolute;
    right: 0;
    bottom: -80px;
    height: 274px;
  }

  @media (min-width: 420px) {
    .image {
      height: 380px;
    }
  }
  @media (min-width: $md) {
    bottom: 320px;
    width: 40px;
    height: 40px;
    transform: translate(40px);

    .image {
      right: 0;
      height: auto;
      bottom: -280px;
      width: calc(100vw - 160px);
    }
  }
  @media (min-width: $lg) {
    .image {
      bottom: -430px;
    }
  }

  @media (min-width: 1600px) {
    .image {
      width: 1440px;
    }
  }
}
.decorBoxWrapper {
  position: absolute;

  width: 40px;
  height: 40px;

  :nth-child(1) {
    top: 0;
    right: 0;
  }
  :nth-child(2) {
    left: 0;
    bottom: 0;
  }
  :nth-child(3) {
    right: 0;
    bottom: 0;
  }

  @media (min-width: $md) {
    width: 80px;
    height: 80px;
  }
}
.decorRight {
  bottom: 80px;
  right: 0;
  @media (min-width: $md) {
    bottom: 280px;
    right: 0;
  }
}
.decorLeft {
  display: none;
  @media (min-width: $md) {
    display: block;
    transform: scaleY(-1);
    top: 280px;
    left: 0;
  }
}

.decorBox {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  @media (min-width: $md) {
    width: 40px;
    height: 40px;
  }
}
