@import "@/styles/variables/all.scss";

.connectForm {
  width: 100%;
  padding-top: 79px;
  padding-bottom: 20px;
  scroll-behavior: smooth;
  @media (min-width: $md) {
    padding-top: 63px;
    padding-bottom: 4px;
  }
}

.contentWrapper {
  position: relative;
  display: flex;
  width: 100%;
  background-color: $green-color;
  flex-direction: column;
  padding: 65px 20px 95px;
  color: $white-color;

  @media (min-width: $md) {
    padding: 65px 65px 59px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.descriptionWrapper {
  z-index: 1;
  @media (min-width: $md) {
    width: 50%;
  }
}

.title {
  font-weight: bold;
  font-size: $font-size-l;
  line-height: 108%;
  text-transform: uppercase;

  @media (min-width: $md) {
    display: block;
    font-size: $font-size-xl;
    max-width: 380px;
  }
  @media (min-width: $lg) {
    font-size: $font-size-xxl;
  }
}

.description {
  display: block;
  font-size: $font-size-md;
  line-height: 150%;
  margin: 24px 0 44px;
  @media (min-width: $md) {
    max-width: 347px;
  }
}

.formWrapper {
  z-index: 1;
  @media (min-width: $md) {
    width: 45%;
  }
}
