@import "@/styles/variables/all.scss";

.process {
    position: relative;
    padding-top: 65px;
    padding-bottom: 24px;
    color: $black-color;
    text-align: center;

    @media (min-width: $md) {
        padding-top: 116px;
        padding-bottom: 73px;
    }
}

.title {
    font-weight: bold;
    font-size: $font-size-l;
    line-height: 130%;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    @media (min-width: $md) {
        margin: 0 auto;
        font-size: $font-size-xxl;
        line-height: 108%;
        max-width: 750px;
        letter-spacing: 0;
    }
}

.description {
    display: block;
    padding: 25px 0 50px;
    font-size: $font-size-md;
    line-height: 150%;

    @media (min-width: $md) {
        padding: 46px 0 106px;
        margin: 0 auto;
        font-size: $font-size-md;
        line-height: 150%;
        max-width: 736px;
    }
}

.list {
    display: grid;
    grid-row-gap: 24px;
    color: $white-color;
    margin-top: 30px;

    @media (min-width: $md) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 32px;
        grid-row-gap: 48px;
        margin-top: 0;
    }

    .listItem {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-x: hidden;

        &:nth-child(1),
        &:nth-child(5),
        &:nth-child(7) {
            .itemDescriptionWrapper {
                background-color: $brown-color;
            }
        }

        &:nth-child(3) {
            .itemDescriptionWrapper {
                background-color: $red-color;
            }
        }

        &:nth-child(4) {
            .itemDescriptionWrapper {
                background-color: $yellow-color;
            }
        }

        &:nth-child(2),
        &:nth-child(6) {
            flex-direction: column-reverse;
            .itemDescriptionWrapper {
                background-color: $green-color;
            }
        }

        div {
            width: 100%;
            display: flex !important;
            justify-content: flex-start;
            overflow-x: hidden;
            img {
                width: auto !important;
                height: auto !important;
                min-height: 210px !important;
                @media (min-width: $xs) {
                    width: 100% !important;
                    min-height: auto !important;
                }
            }
        }

        &:first-child {
            @media (min-width: $md) {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
        &:last-child {
            @media (min-width: $md) {
                grid-column-start: 2;
                grid-column-end: 4;
            }
        }
    }
}

.itemDescriptionWrapper {
    display: flex;
    flex-direction: column;
    min-height: 134px;
    padding: 24px 16px 26px;

    @media (min-width: $md) {
        padding: 24px 24px 26px;
        justify-content: start;
        min-height: 175px;
    }

    @media (min-width: 1280px) {
        min-height: 134px;
    }
}

.itemTitle {
    font-weight: bold;
    font-size: $font-size-lg;
    line-height: 108%;
    text-transform: uppercase;
    color: $white-dim-color;
    text-align: left;
    margin-bottom: 16px;
    @media (min-width: $md) {
        font-size: $font-size-md;
    }
    @media (min-width: $lg) {
        font-size: $font-size-lg;
    }
}

.itemTitleNumber {
    margin-right: 16px;
}

.itemDescription {
    font-size: $font-size-sm;
    line-height: 150%;
    text-align: left;
    @media (min-width: $md) {
        font-size: $font-size-xs;
    }

    @media (min-width: $lg) {
        font-size: $font-size-sm;
        margin-left: 50px;
    }
}
