@import "@/styles/variables/all.scss";
.footer {
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  @media (min-width: $lg) {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 45px;
  }
}

.logoWrapper {
  display: block;
  max-width: 115px;
  margin-bottom: 25px;
  cursor: pointer;
  @media (min-width: $md) {
    width: 160px;
    max-width: 160px;
    margin-bottom: 77px;
  }
}

.logo {
  width: 100%;
}

.descriptionWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (min-width: $lg) {
    margin-left: 200px;
    width: 100%;
  }
}

.linkText {
  font-size: $font-size-sm;
  line-height: 170%;
  color: $black-color;
  margin-bottom: 9px;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  @media (min-width: $lg) {
    margin-bottom: 16px;
  }
}

.descriptionGroupItem {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  &:nth-child(2) {
    margin-bottom: 30px;
  }
  &:nth-child(3) {
    @media (min-width: $lg) {
      font-weight: 400;
    }
  }
  @media (min-width: $lg) {
    padding-right: 27px;
  }
}

.address {
  max-width: 230px;
  cursor: text;
  &:hover {
    text-decoration: none;
  }
}

.phoneNumber {
  margin: 24px 0;
  text-decoration: none;
  @media (min-width: $lg) {
    margin: 15px 0;
  }
}

.email {
  text-decoration: none;
}

.email,
.phoneNumber {
  &:hover {
    text-decoration: underline;
  }
}
.socialsWrapper {
  display: flex;
  margin: 12px 0 25px;
  @media (min-width: $lg) {
    margin-top: 30px;
  }
}

.socialsItem {
  position: relative;
  display: flex;
  width: 27px;
  height: 27px;
  margin-right: 23px;
  cursor: pointer;
}

.socialImage {
  width: 100%;
  height: 100%;
}

.termsWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: $font-size-xs;
  line-height: 170%;
  left: 0;
  bottom: 0;
  padding: 16px 0;
  opacity: 0.3;
  border-top: 1px solid $grey-color;
  @media (min-width: $lg) {
    position: relative;
    border-top: none;
    align-items: flex-start;
  }
}

.koydolInc {
  margin-top: 8px;
  @media (min-width: $lg) {
    margin-top: 24px;
  }
}

.privacyPolicy,
.termsOfUse {
  white-space: nowrap;
  padding-right: 8px;
  cursor: pointer;
  text-decoration: none;
  color: $black-color;
  &:hover {
    text-decoration: underline;
  }
}
.termsOfUse {
  padding-left: 8px;
}

.privacyPolicy {
  border-right: 1px solid $grey-color;
}
