@import "@/styles/variables/all.scss";

.list {
    display: flex;
    flex-direction: column;
    &:first-child {
        .title {
            margin-top: 20px;
        }
    }
}

.title {
    margin-top: 32px;
    font-weight: 600;
    font-size: $font-size-sm;
    line-height: 150%;

    @media (min-width: $md) {
        margin-top: 48px;
    }
}
