@import "@/styles/variables/all.scss";

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 24px;

    color: $black-color;
    text-align: start;
    cursor: pointer;
    border-top: 2px solid $black-color;
}

.category {
    padding: 24px 0 16px;
    font-weight: bold;
    font-size: $font-size-sm;
    line-height: 108%;
    text-transform: uppercase;
}

.title {
    font-weight: bold;
    font-size: $font-size-md;
    line-height: 130%;
    text-transform: uppercase;

    @media (min-width: $md) {
        font-size: $font-size-lg;
        line-height: 108%;
        max-width: 750px;
        text-align: left;
    }
}

.description {
    display: block;
    font-size: $font-size-md;
    line-height: 150%;
    padding-bottom: 16px;

    @media (min-width: $md) {
        font-size: $font-size-md;
        line-height: 150%;
        max-width: 736px;
    }
}

.textWrapper {
    width: 100%;
}

.dateWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 736px;
    padding: 16px 0;

    font-size: $font-size-sm;
    line-height: 160%;
    color: $black-color;

    :first-child {
        position: relative;
        padding-right: 30px;
        &::after {
            display: block;
            position: absolute;
            right: 15px;
            top: 50%;
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $black-color;
            transform: translate(50%, -50%);
        }
    }
}

.image {
    div {
        width: 100%;
    }
}

.cardStyle {
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-bottom: 40px;
    border-top: none;
    border-bottom: 2px solid $black-color;
}
