@import "@/styles/variables/all.scss";

.faq {
    position: relative;
    padding-top: 65px;
    color: $black-color;
    text-align: center;

    @media (min-width: $md) {
        padding-top: 116px;
    }
}

.title {
    font-weight: bold;
    font-size: $font-size-l;
    line-height: 130%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 58px;

    @media (min-width: $md) {
        margin: 0 auto;
        padding-bottom: 108px;
        font-size: $font-size-xxl;
        line-height: 108%;
        max-width: 750px;
        letter-spacing: 0;
    }
}
