@import "@/styles/variables/all.scss";

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $black-color;
    font-size: $font-size-md;
    line-height: 150%;
}

.title {
    max-width: 928px;
    margin-top: 67px;
    font-weight: bold;
    font-size: $font-size-l;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    @media (min-width: $md) {
        font-size: $font-size-xxl;
        line-height: 108%;
        margin-top: 117px;
    }
}
.questionsWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 672px;
    margin: 28px auto 23px;
    z-index: 1;
    @media (min-width: $md) {
        margin-top: 41px;
    }
}

.question,
.description {
    text-align: center;
}

.videoWrapper {
    position: relative;
    width: 100%;
    max-height: 588px;
    top: 46px;
    z-index: 1;
    @media (min-width: $md) {
        top: 80px;
    }
}
